body{
   
}

.container{
    margin: auto;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    background: gainsboro;
}


.results{
    margin: auto;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    
}

h1{
    font-family: 'Bangers', serif;
    font-size: 48px;
}

/* questions */
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}

/* answers */
h3{
    font-family: 'Raleway', serif;
}

/* timeleft */
h4{
    font-family: 'Roboto', serif;
    font-size: 36px;
}

.answer{
    border: 2px dashed grey;
    padding: 5px;
    background: lightgray;
}

.answer:hover{
    background: grey;
    border: 5px solid black;
}


.correctAnswer{
    font-style: bolder;
}

#start {
    font-family: 'Roboto', sans-serif;
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#submit {
    font-family: 'Roboto', sans-serif;
    background-color: skyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #restart {
    font-family: 'Roboto', sans-serif;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }